app_domain(gamebar)

allow gamebar {
  app_api_service
  audioserver_service
  cameraserver_service
  drmserver_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  surfaceflinger_service
}:service_manager find;

# Allow binder communication with gpuservice
binder_call(gamebar, gpuservice)

# Allow devicesettings_app to read and write to cgroup
allow gamebar cgroup:file rw_file_perms;

allow gamebar system_app_data_file:dir create_dir_perms;
allow gamebar system_app_data_file:file create_file_perms;
allow gamebar system_app_data_file:lnk_file create_file_perms;
allow gamebar sysfs:dir r_dir_perms;
allow gamebar sysfs:file r_file_perms;
