# Permitir que init use wake_alarm
allow init self:capability2 wake_alarm;

# Permitir que init escriba en tracefs (para bootreceiver)
allow init debugfs_bootreceiver_tracing:dir { write add_name };
allow init debugfs_bootreceiver_tracing:file write;
