# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow launcher app to read memory info
r_dir_file(platform_app, config_gz)
r_dir_file(platform_app, sysfs_zram)

# Allow systemui access to bluetooth_lea_prop
get_prop(platform_app, bluetooth_lea_prop)

# Allow systemui to read thermal for CPUInfo
r_dir_file(platform_app, sysfs_thermal)

# Access zram sysfs
allow platform_app sysfs_zram:dir r_dir_perms;
allow platform_app sysfs_zram:file r_file_perms;

# Compact HUN	
allow platform_app system_prop:property_service set;
