allow system_server storage_stub_file:dir getattr;
allow system_server media_rw_data_file:file r_file_perms;

allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;
allow system_server pocket_service:service_manager { add find };

# OTA with encrypted/unencrypted f2fs
allow system_server ota_package_file:dir { getattr search };

# Use HALs
hal_client_domain(system_server, hal_xpe_fod)

add_service(system_server, longshot_service)
