# HwBinder IPC from client to server
binder_call(hal_xpe_camera_motor_client, hal_xpe_camera_motor_server)

add_hwservice(hal_xpe_camera_motor_server, hal_xpe_camera_motor_hwservice)
allow hal_xpe_camera_motor_client hal_xpe_camera_motor_hwservice:hwservice_manager find;
